body{
  text-align: center;
}

#text1{
  color: #9932CC
}

#imgstart{
  height:280px;
  width:250px;
  
  
}

#edison{
 height:280px;
  width:320px; 
  position: absolute;
  position: absolute;
  
  top: 100px;
  right:100px;


}

#ofy{
  position: absolute;
  top: 240px;
  left:265px;
}
#pg{
  position: absolute;
  bottom:-70px;
  font-size:20px;
}